.container__corpo--galeria {
    padding: 0 300px;
    height: 650px;
}

.galeria__titulo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.galeria__titulo--texto {
    width: 614px;
    height: 194px;
    font-size: 100px;
    line-height: 90px;
    color: #f2260a;
    font-weight: 900;
    text-align: right;
}

.grid {
	display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 1fr);;
	grid-auto-rows: 300px;
}

.item {
	text-align: center;
	font-size: 1.5em;
    overflow: hidden;
 }

 .item img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .6s ease;
 }
 .item:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }
 
.item:hover {
    opacity: 0.8;
}

.grid-galeria .item-1 {
	grid-column: 1 / 3;
}
.foto1 {
    position: relative;
    right: 90px;
    height: 100%;
}

.grid-galeria .item-2 {
	grid-column: 4 / 3;
}
.foto2 {
    position: relative;
    right: 170px;
    height: 100%;
}

.grid-galeria .item-3 {
	grid-column: 4 / 8;
}
.foto3 {
    position: relative;
    width: 100%;
    height: 130%;
}

.grid-galeria .item-4 {
	grid-column: 1 / 1;
}
.foto4 {
    position: relative;
    right: 90px;
    height: 100%;
}

.grid-galeria .item-5 {
	grid-column: 2 / 4;
}
.foto5 {
    position: relative;
    right: 90px;
    height: 100%;
}

.grid-galeria .item-6 {
	grid-column: 4 / 6;
}
.foto6 {
    position: relative;
    right: 90px;
    height: 100%;
}

.grid-galeria .item-7 {
	grid-column: 6 / 8;
}
.foto7 {
    position: relative;
    right: 90px;
    height: 100%;
}

.ocultar-web, .titulo-mobile {
    display: none;
}

@media screen and (max-width: 950px) {

    .container__corpo--galeria {
        padding: 0 100px;
        height: 650px;
    }

    .titulo-mobile {
        display: inline;
        background-color: rgba(79, 85, 83, 0.316);
        font-size: 80px;
        color: #f2260a;
        font-weight: 900;
        line-height: 100px;
    }
    
    .galeria__titulo, .ocultar-mobile, .galeria__titulo--texto {
        display: none;
    }

    .grid {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .item a img{
        height: 30vh;
     }

     .ocultar-web {
        display: inline;
     }

    .item img, .item:hover img{
        -webkit-transition: none;
        transition: none;
        -webkit-transform: none;
        transform: none;
     }
}

@media screen and (max-width: 1550px) {

    .galeria__titulo {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
    }
    
    .galeria__titulo--texto {
        width: 614px;
        height: 194px;
        font-size: 80px;
        line-height: 70px;
        color: #f2260a;
        font-weight: 900;
        text-align: right;
    }

    .container__corpo--galeria {
        padding: 0 100px;
        height: 650px;
    }
}

